---
title: Archive
layout: default
permalink: /blog/archive/
---
{% for post in site.posts %}
  {% assign yearOfPost = post.date | date: "%Y" %}
  {% if yearOfPost != currentYear %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1>{{ yearOfPost }}</h1>
    <ul>
    {% assign currentYear = yearOfPost %}
  {% endif %}
  <li>
    <a href="{{ post.url }}">
      <span>{{ post.date | date: "%b %-d" }}</span> - {{ post.title }}
    </a>
  </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
