// Custom styles.

// Apply the link-color to blocks with white background to improve
// accessibility.
a, .td-box--secondary p > a, .td-box--white p > a {
    color: $link-color;
}

// The table anchor for syscall references so that entries referenced
// directly by an anchor aren't buried underneath the header.
a.doc-table-anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

// Adjust the width of the svg logo in the header. For smaller svg
// files the width is too large.
.td-navbar .navbar-brand .navbar-logo svg {
   width: auto;
}

// Only show the navbar after scrolling down the page.
.td-navbar-cover .navbar-brand {
    display: none;
}
.td-navbar-cover .td-navbar-nav-scroll {
    @media (min-width: 768px) {
        display: none;
    }
}
.td-navbar-cover.navbar-bg-onscroll .navbar-brand, .td-navbar-cover.navbar-bg-onscroll .td-navbar-nav-scroll {
    @media (min-width: 768px) {
        display: block;
    }
}

// Show an inner navbar as part of the cover block
.cover-content nav {
    @media (max-width: 767px) {
        display: none;
    }
    padding: 0;
    margin-top: 3rem;
    float: right;
}
// Left align the cover block and increase text size.
.td-default main section.td-cover-block {
    @media (max-width: 767px) {
        text-align: center;
    }
}
.td-default main section.td-cover-block h1 {
    @media (min-width: 768px) {
        padding-top: 0.5rem; // match padding for .nav-link
        padding-bottom: 8rem;
    }
}
.td-default main section.td-cover-block {
    @media (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 10rem;
    }
}
.td-default main section.td-cover-block p.lead {
    @media (min-width: 768px) {
        width: 50%;
    }
    font-size: $h1-font-size;
}
.td-default main section.td-cover-block p.lead strong {
    font-weight: bold;
}
