{{ $links := .Site.Params.links }}
<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        {{ with $links }}
        {{ with index . "developer"}}
        <ul class="list-inline mb-0">
          {{ template "footer-links-block"  . }}
          {{ end }}
          <li class="list-inline-item mx-2" >&nbsp</li>
          <li class="list-inline-item mx-2" >
            <img src="/img/powered-gvisor.png" alt="Powered by gVisor">
          </li>
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
        {{ if not .Site.Params.ui.footer_about_disable }}
          {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
{{ end }}
