<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <p>About</p>
      <ul class="list-unstyled">
        <li><a href="/roadmap/">Roadmap</a></li>
        <li><a href="/contributing/">Contributing</a></li>
        <li><a href="/security/">Security</a></li>
        <li><a href="/community/governance/">Governance</a></li>
        <li><a href="https://policies.google.com/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-2">
      <p>Support</p>
      <ul class="list-unstyled">
        <li><a href="https://github.com/google/gvisor/issues">Issues</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/docs/user_guide/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-2">
      <p>Connect</p>
      <ul class="list-unstyled">
        <li><a href="https://github.com/google/gvisor">GitHub</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/gvisor-users">User Mailing List</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/gvisor-dev">Developer Mailing List</a></li>
        <li><a href="https://gitter.im/gvisor/community">Gitter Chat</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-3"></div>
    <div class="hidden-xs hidden-sm col-md-3">
      <a href="https://cloud.google.com/run">
        <img style="float: right; max-width: 93px; height: auto;" src="/assets/logos/powered-gvisor.png" alt="Powered by gVisor"/>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>&copy; {{ 'now' | date: "%Y" }} The gVisor Authors</p>
    </div>
  </div>
</div>
